.navigation{
    /* min-height:200px; */
    position: relative;
    width: 100%;  
    display: flex;
    flex-direction: column;
    background: #000057;
    margin-bottom:10vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* overflow: hidden; */
  }
.ul-navigation{
    display: flex;
    list-style:none;
        
    
    justify-content: flex-start;
}
li{
    padding: 20px 20px;   border-bottom:3px solid transparent ;
}
li a{
    color:  rgb(195, 195, 236);;
    text-decoration: none;
    width: 100%;
    height: 100%;padding: 15px 0;
}
li a.active {
border-bottom: 3px solid white;   
padding: 20px 0;   

}
.vertical-timeline-element-date{
    color:#000057 ;
    font-weight: 800;
}