.accordion{
    max-width: 1600px;
    margin: 0 auto;
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 6%;

}

.item{   
    width: 80%;
}
.title{
color: rgb(255, 255, 255);
background-color: var(--f2);
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;       
 padding: 10px;
border-radius: 8px}
.yellow{
    color:var(--f3);
}
.white{
    color: white;
}

    .content{
        color: rgb(0, 0, 0);
        background-color: l;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0,1,0,1);
        border-radius: 20px;
        font-weight: 600;
     line-height: 2rem;
        font-size: 1.3rem;
        margin: 20px;

    }
    .content.show{

        margin-top: 10px;
        height: auto;
        max-height: 9999px;
        margin: 20px;
        
    }