.App {
  display: flex;
  flex-direction: column;
 /* background-color: orange; */
 margin:2% 7%;

 min-height: 100vh;

}
.contect{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  width: 100%;
  background:  rgb(195, 195, 236);;
  min-height: 100vh;
  padding: 8px;
  
}


/* 450 */
/* 768 */
/* 1200 */

@media  (max-width: 650px) {
  .App {
    margin:0;
    padding: 0;
    flex-direction: column;
   
   }
}
@media  (max-width: 650px) {
  * {
    font-size: 46%;
   }
}
@media  (max-width: 900px) {
  * {
    font-size: 76%;
   }
}

@media  (max-width: 1200px) {
  * {
    font-size: 24%;

    ;

  }
}
@media  (max-width: 2000px) {
  * {
    font-size: 98%;

    ;

  }
}
/*  rgb(195, 195, 236); */