.App {
  display: flex;
  flex-direction: column;
 /* background-color: orange; */
 margin:2% 7%;
 
 min-height: 100vh;

}
.contect{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  width: 100%;
  background:  rgb(195, 195, 236);;
  min-height: 100vh;
  padding: 8px;
  
}
.navigation{
  min-height: 30%;
  position: relative;
  width: 100%;  
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 67);
  margin-bottom:10vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* overflow: hidden; */
}

/* 450 */
/* 768 */
/* 1200 */

@media  (max-width: 650px) {
  .App {
    margin:0;
    flex-direction: column;
   
   }
}


/*  rgb(195, 195, 236); */