body {
background-color:var(--f1);
font-family: sans-serif;
  
}
*{
  padding:0 ;
  margin: 0;
  box-sizing: border-box;
  transition: .2s;
  font-family: "Architects Daughter", cursive;

}
:root {
  --f1: #ffffff;
  --f2: #001373;
  --f3:   #c60000;
}
